@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #E3E6E6;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Shadowed {
  width: 100%;
  position: relative;
}

.Shadowed::before {
  z-index: 3;
  content: '';
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 0 150px 200vh rgba(0, 0, 0, 0.8);
}

.ShoppieShadow {
  width: 100%;
  position: relative;
}

.ShoppieShadow::before {
  z-index: 3;
  content: '';
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 450px 150px 350px rgba(0, 0, 0, 0.8);
}

ul {
  padding: 0;
}

.max_H_0{
  max-height: 0px;
  transition: max-height 0.5s ease-in-out;
}

.max_H_T {
  max-height: 800px;
}

.max_H_T2 {
  max-height: 100px;
}




